parameters:
    level: 5
    paths:
        - src
        - Tests
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Collection::#'
        - '#Access to an undefined property Illuminate\\Support\\Collection::#'
